<div class="clouds" aria-hidden="true">
  <img class="cloud cloud1" decoding="async" loading="lazy" src="assets/img/animation/Cloud.png" alt="">
  <img class="cloud cloud2" decoding="async" loading="lazy" src="assets/img/animation/Cloud2.png" alt="">
  <img class="cloud cloud3" decoding="async" loading="lazy" src="assets/img/animation/Cloud3.png" alt="">
  <img class="cloud cloud4" decoding="async" loading="lazy" src="assets/img/animation/Cloud.png" alt="">
  <img class="cloud cloud5" decoding="async" loading="lazy" src="assets/img/animation/Cloud3.png" alt="">
  <img class="cloud cloud6" decoding="async" loading="lazy" src="assets/img/animation/Cloud2.png" alt="">
  <img class="cloud cloud7" decoding="async" loading="lazy" src="assets/img/animation/Cloud3.png" alt="">
</div>
