<div class="clouds" aria-hidden="true">
  <img height="107" width="200" draggable="false" fetchpriority="low" class="cloud cloud1" decoding="async" loading="lazy" src="assets/img/animation/Cloud.png" alt="">
  <img height="106" width="150" draggable="false" fetchpriority="low" class="cloud cloud2" decoding="async" loading="lazy" src="assets/img/animation/Cloud2.png" alt="">
  <img height="85" width="120" draggable="false" fetchpriority="low" class="cloud cloud3" decoding="async" loading="lazy" src="assets/img/animation/Cloud3.png" alt="">
  <img height="107" width="200" draggable="false" fetchpriority="low" class="cloud cloud4" decoding="async" loading="lazy" src="assets/img/animation/Cloud.png" alt="">
  <img height="85" width="120" draggable="false" fetchpriority="low" class="cloud cloud5" decoding="async" loading="lazy" src="assets/img/animation/Cloud3.png" alt="">
  <img height="106" width="150" draggable="false" fetchpriority="low" class="cloud cloud6" decoding="async" loading="lazy" src="assets/img/animation/Cloud2.png" alt="">
  <img height="85" width="120" draggable="false" fetchpriority="low" class="cloud cloud7" decoding="async" loading="lazy" src="assets/img/animation/Cloud3.png" alt="">
</div>
